@font-face { 
    font-family: Spotify-Black;
    src: url('/assets/fonts/CircularSpotifyTxT-Black.ttf'); /* Black */
}

@font-face { 
    font-family: Spotify-bold;
    src: url('/assets/fonts/CircularSpotifyTxT-Bold.ttf'); /* Bold */
}